*~
.*.swp
.*.swo
*.pyc
*.conll
/reference-coreference-scorers/
/decomp/
/.idea/
*.conllu
.Rproj.user
*.Rproj
*.nb.html
*.png
*.pdf
.Rhistory
*.bak
*.zip
/rsconnect/
/uds-analysis.*.md
/aida-data/
workspace.code-workspace
.vscode/tasks.json